.sender-info {
    height: 100px;
    background-color: #90adc6;
    border-radius: 5%;
    display: grid;
    grid-template: 2fr 1fr / 2.5fr 0.5fr 0.5fr;
    overflow: hidden;
    padding: 2%;
}
.card-title-question {
    grid-column: 1/2;
    grid-row: 1/2;
}
.category {
    grid-column: 1/2;
    grid-row: 2/3;
}
.sender-img-card {
    width: 40px;
    height: 40px;
    grid-column: 3/4;
    grid-row: 1/2;
    place-self: center;
    border-radius: 25px;
    place-self: start center;
    border-radius: 25px;
    margin-top: 5px;
}
.receiver-info {
    color: #333652;
    height: 100px;
    display: grid;
    grid-template: 2fr 1fr / 2.5fr 0.5fr 0.5fr;
    overflow: hidden;
    padding: 2%;
}
.prof-img-card {
    width: 40px;
    height: 40px;
    grid-column: 3/4;
    grid-row: 1/2;
    place-self: center;
    border-radius: 25px;
    place-self: start center;
    border-radius: 25px;
    margin-top: 5px;
}

.sender-info > p,
.receiver-info > p {
    place-self: start;
    color: #333652;
}

.arrow-btn {
    grid-row: 2/3;
    grid-column: 3/4;
}

.toggleDown {
    background-color: violet;
    border-radius: 2px;
    float: right;
    margin-top: 1em;
}
