@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

/* Basic Configuration */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar Part with grid System */
.main-nav {
    width: 100%;
    height: 9rem;
    display: grid;
    grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
    background-color: #7c80f0;
}

.logo {
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-box {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    background: none;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
    font-size: 16px;
    letter-spacing: 0px;
    border: none;
    outline: unset;
    height: 40px;
    /* padding-left: 10px; */
    border-radius: 0;
    /* width: calc(100% - 10px); */
    -webkit-appearance: none;
}

.menu-link {
    grid-column: 4/5;
}

.menu-link ul {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Extra Styling*/

.logo h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, rgb(201, 200, 216));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2 span {
    font-size: 3.5rem;
}

.menu-link ul li {
    font-size: 1.8rem;
}

.menu-link ul li a {
    text-transform: capitalize;
    color: rgba(245, 245, 248, 0.8);
    transition: 0.5s;
}
.menu-link ul li:hover > a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
}

/* Media Queries */
@media (max-width: 540px) {
    .search-box {
        display: none;
    }

    .menu-link ul li {
        font-size: 1.8rem;
        margin: 10px 10px;
    }
}

@media (max-width: 900px) {
}
