.second-div {
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 180%;
}
.photo {
    height: 80px;
}

/* Media Queries */

@media (min-width: 540px) {
    .photo {
        height: 50px;
    }
}
@media (min-width: 900px) {
    .photo {
        height: 80px;
    }
}
