.burger {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 55px;
    left: 0px;
    z-index: 10;
    background-color: rgb(0 24 45 / 83%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.burger > a > button {
    font-size: 2rem;
    background-color: transparent;
    border-style: none;
    text-transform: capitalize;
    color: rgba(255, 254, 254, 1);
    transition: 0.5s ease;
}

.burger > a > button:hover {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    transition: 0.5s ease;
}
.burger-desktop {
    display: none;
}
@media (min-width: 900px) {
    .burger-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .burger {
        width: 250px;
        position: relative;
        height: 100%;
        flex-direction: row;
        background-color: transparent;
        top: 0;
        z-index: 0;
        font-size: 20px;
    }
}
