* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.latest-posts {
    margin-top: 5%;
    display: grid;
}

.main-heading {
    text-align: center;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    display: grid;
    place-items: center;
    background-color: #ffcd55;
}

.posts-heading {
    margin-top: 5em;
    text-align: center;
}

.post {
    color: white;
    font-weight: 1.1rem;
    margin-top: 2em;
    background-color: #6f31f6;
    text-align: center;
    width: 80%;
    height: 10em;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 5%;
}
.sender-info {
    height: 50%;
    background-color: rgba(151, 218, 245, 0.411);
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.receiver-info {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-self: center/ center;
}
.receiver-info > h4 {
    place-self: center;
    justify-self: center;
}
.sender-info > h4 {
    place-self: center;
    justify-self: center;
}
.sender-info > p,
.receiver-info > p {
    place-self: start;
}

@media (min-width: 900px) {
    .post {
        font-size: 1.2rem;
    }
}
