* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.main-heading {
    margin-top: 5em;
    background-color: #ffcd55;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.posts-heading {
    margin-top: 5em;
    text-align: center;
}

.first-post {
    margin-top: 2em;
    background-color: #8b57fa;
    text-align: center;
    width: 80%;
    height: 10em;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border-radius: 25px;
}

.second-post {
    margin-top: 5em;
    background-color: #8b57fa;
    text-align: center;
    width: 80%;
    height: 10em;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border-radius: 25px;
}

.third-post {
    margin-top: 5em;
    background-color: #8b57fa;
    text-align: center;
    width: 80%;
    height: 10em;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border-radius: 25px;
}
