* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
.home-content {
    display: grid;
    grid-template-rows: 15vh 8vh 80vh;
    justify-items: center;
}
.main-heading {
    display: none;
    background-color: #ffcd55;
    text-align: center;
    width: 90%;
}

.posts-heading {
    text-align: center;
    place-self: center;
}
.post-content {
    display: grid;
    justify-items: center;
}
.post {
    color: white;
    font-weight: 1.1rem;
    margin-top: 2em;
    background-color: #6f31f6;
    text-align: center;
    width: 80%;
    height: 10em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 5%;
}
.sender-info {
    height: 50%;
    background-color: rgba(151, 218, 245, 0.411);
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.receiver-info {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-self: center/ center;
}
.receiver-info > h4 {
    place-self: center;
    justify-self: center;
}
.sender-info > h4 {
    place-self: center;
    justify-self: center;
}
.sender-info > p,
.receiver-info > p {
    place-self: start;
}
.search-box {
    display: none;
}

@media (min-width: 900px) {
    .home-content {
        grid-template-rows: 15vh 10vh 5vh 80vh;
        grid-template-columns: 3.5fr 1fr;
    }
    .search-box {
        width: 100%;
        grid-column: 1/3;
        display: block;
        place-content: center;
    }

    .main-heading {
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .posts-heading {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .post-content {
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 4/5;
    }
    .post {
        font-size: 1.2rem;
    }
}
