.container-logo {
    display: none;
}
.card {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    width: 40vh;
    min-height: 20vh;
    transform-style: preserve-3d;
    border-radius: 5%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 16rem;
}
@media (min-width: 900px) {
    .container-logo {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        place-self: center center;
        height: 90%;
    }
}
