.hero::after {
    place-self: center;
    grid-template-rows: 1fr 5fr 1fr;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
}

.singup,
.login {
    height: 75vh;
    /* background-color: rgb(15, 224, 161); */
    background: linear-gradient(
        312deg,
        rgba(4, 2, 54, 1) 7%,
        rgba(74, 25, 116, 1) 40%,
        rgba(15, 224, 164, 1) 84%
    );
    display: grid;
    grid-template-rows: 15% 60% 10% 1%;
    place-items: center;
    border-radius: 1%;
    margin: 3% 2%;
    padding-bottom: 1rem;
}

.singup-form,
.login-form {
    height: 100%;
    background: rgba(152, 46, 184, 0.425);
    /* -webkit-box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.91);
    box-shadow: 4px 5px 15px 3px rgba(0, 0, 0, 0.91); */
    display: grid;
    gap: 2rem;
    border-radius: 3%;
    padding: 1rem;
    z-index: 10;
}
.singup-form:hover,
.login-form:hover {
    border: solid 1px rgb(83, 234, 240);
}

.singup-form > a,
.singup > h1,
.singup > a,
.login-form > a,
.login > h1,
.login > a {
    text-align: center;
}

a {
    font-size: 1.5rem;
    color: rgba(15, 224, 164, 1);
}
.btn {
    min-width: 60%;
    justify-self: center;
    min-height: 55%;
    max-height: 60%;
    background-color: rgba(151, 144, 153, 0.205);
    border-style: none;
    text-transform: capitalize;
    color: rgba(245, 245, 248, 0.8);
    transition: 0.5s;
    text-decoration: none;
}
