.question-main-content {
    height: 90vh;
    display: grid;
    place-items: center;
}
.question-form {
    width: 85%;
    height: 72vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 4fr 0.5fr 0.5fr;
    gap: 2%;
}

.title-question {
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1/2;

    font-size: 27px;
    padding: 2%;
}
.input-question {
    grid-column: 1/3;
    grid-row: 2/3;

    padding: 2%;
}
.input-category {
    grid-column: 1/2;
    grid-row: 3/5;

    font-size: 24px;
    padding: 2%;
}
/* Buttons */
.question-form > button {
    border-radius: 10px;
    border: 3px solid #fad02c;
    background: transparent;
    cursor: pointer;
}
.question-form > button:first-child {
    grid-column: 2/3;
    grid-row: 3/4;
}
.question-form > button:last-child {
    grid-column: 2/3;
    grid-row: 4/5;
}
