.messages-area {
    grid-row: 1/2;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.dashboard {
    grid-row: 1/3;
    padding: 3% 2%;
}
.text-question {
    grid-column: 1/3;
}
.text-answer {
    grid-column: 2/4;
    justify-self: end;
}
.textarea {
    grid-row: 2/3;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 9fr 1fr;
}
.draft-btn {
    grid-column: 2/3;
}
