.aside {
    place-self: center;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: rgb(121, 204, 204);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.375);
    align-items: center;
}
.aside > div {
    width: 20%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 900px) {
    .aside {
        flex-direction: column;
        align-content: center;
        align-self: start;
        grid-column: 2/3;
        grid-row: 2/5;
        background-color: white;
    }
    .aside > div {
        width: 100%;
        height: 20%;
        text-align: center;
        border-bottom: 1px solid grey;
    }
}
