.main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 3%;
}
.info-profile {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 5px;
    margin-bottom: 10%;
    border-bottom: 1px solid black;
}
.professional-btn {
    grid-column: 1/3;
    align-self: center;
    padding-left: 3%;
}
.aside-user-info {
    grid-row: 1/2;
    border: 1px solid #fad237;
    border-radius: 20px;
    padding: 2% 3%;
}
.right-aside-info {
    display: grid;
    grid-column: 1/2;
}
.second-div {
    grid-row: 1/2;
}

@media (min-width: 540px) {
    .info-profile {
        grid-template: 1fr / 3fr 1fr 3fr;
        width: 85%;
        align-self: center;
    }
    .right-aside-info {
        grid-column: 3/4;

        display: grid;
        justify-content: end;
    }
}
