.requestPage {
    display: grid;
    grid-template: 1fr 11fr 0fr / 1fr;
}
.nav {
    grid-row: 1;
}
.content {
    display: grid;
    grid-template: 5fr 1fr / 1fr;
    background-color: antiquewhite;
    grid-row: 2;
}
.panel {
    grid-column: 1;
}
.textboard {
    grid-row: 2;
}
.footer {
    grid-row: 3;
}
