.requestPage {
    height: 91vh;
    display: grid;
    grid-template: 1fr 8fr / 1fr;
}
.nav {
    grid-row: 1;
}
.content {
    display: grid;
    grid-template: 5fr 1fr / 1fr;
    background-color: antiquewhite;
    grid-row: 2/3;
}
.panel {
    grid-column: 1;
}
.textboard {
    grid-row: 2;
}
.header {
    grid-row: 1/2;
}
