.requestPage {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr 0.5fr / 1fr;
}
.nav {
    grid-row: 1;
}
.content {
    background-color: antiquewhite;
    grid-row: 2;
}
.panel {
    grid-column: 1;
}
.textboard {
    grid-row: 2;
}
.footer {
    grid-row: 3;
}
