.chat-content {
    height: 91.5vh;
    display: grid;
    grid-template: 0.3fr 4fr 0.6fr/1fr;
    background-color: rgba(169, 211, 101, 0.329);
    grid-row: 2;
    padding: 0 2%;
    gap: 1%;
}
.chat-content > a {
    grid-row: 1/2;
}
.messages-area {
    height: 475px;
    grid-row: 2/3;
    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);

    background-color: white;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
}
.msg-question {
    grid-column: 1/3;
}
.msg-answer {
    grid-column: 2/4;
    justify-self: end;
}
.msg-answer,
.msg-question {
    display: flex;
    align-items: center;
    padding: 3%;
}

/* form input  */
.chat-dashboard {
    grid-row: 3/4;
    height: 65%;
    display: grid;
    grid-template: 1fr / 6fr 1fr;
    gap: 1%;
}
.dashboard {
    border-radius: 25px;
    grid-row: 1/3;
    padding: 1% 6%;
}
.chat-dashboard input:last-child {
    border: none;
    background: transparent;
    cursor: pointer;
}
@media (min-width: 900px) {
    .chat-dashboard {
        grid-template: 1fr / 10fr 1fr;
    }
    .dashboard {
        padding: 1% 3%;
    }
    .chat-dashboard input:last-child {
        font-size: 2.5em;
    }
}
