.content {
    display: grid;
    grid-template: 4fr 1fr / 1fr;
    background-color: rgba(113, 170, 156, 0.76);
    grid-row: 2;
}
.messages-area {
    grid-row: 1/2;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.text-question {
    grid-column: 1/3;
}
.text-answer {
    grid-column: 2/4;
    justify-self: end;
}
.dashboard {
    grid-row: 1/3;
    padding: 3% 2%;
}

form {
    display: grid;
    grid-template: 1fr / 5fr 1fr;
}
