.search-container {
    width: 100%;
    display: grid;
    place-items: center;
}
.search-bar {
    height: 70%;
    width: 90%;
    border-radius: 0.5%;
    text-align: center;
    display: none;
}
