.search-container {
    width: 100%;
    display: grid;
    place-items: center;
}
.search-bar {
    height: 70%;
    width: 90%;
    border-radius: 0.5%;
    text-align: center;
}

@media (min-width: 900px) {
    .search-container {
        height: 70%;
        display: grid;
        place-items: center;
    }
    .search-bar {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
