@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

.search-container {
    width: 95%;
    height: 80%;
    display: grid;
    grid-template: 1fr / 20fr 0.5fr;
    place-items: center;
}
.search-bar {
    background-color: #e9eaec;
    border: 1px solid #fad237;
    border-radius: 20px;
    height: 70%;
    width: 90%;
    text-align: center;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
}

.searchIcon {
    position: relative;
    /* margin-top: 1.5em;
    margin-left: 3.3em; */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}
.MuiSvgIcon-root {
    fill: #fad02c;
    font-size: 2.5rem;
}

@media (min-width: 900px) {
    .search-container {
        height: 70%;
        /* display: grid;
        grid-template: 1fr / 20fr 0.5fr; */
        place-items: center;
    }
    .search-bar {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
