@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

.search-container {
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
}
.search-bar {
    height: 70%;
    width: 90%;
    text-align: center;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
}

@media (min-width: 900px) {
    .search-container {
        height: 70%;
        display: grid;
        place-items: center;
    }
    .search-bar {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
